blinker==1.9.0
click==8.3.1
colorama==0.4.6
Flask==3.1.2
Flask-Login==0.6.3
Flask-WTF==1.2.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
Werkzeug==3.1.5
WTForms==3.2.1
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
pytest==9.0.2
pytest-cov==7.0.0
coverage==7.13.4
email_validator==2.3.0
