{% extends 'base.html' %}

{% block title %}Our Story{% endblock %}

{% block content %}
    <div>
        <body>
        <div class="row justify-content-md-center">
            <h1>Our Story</h1>
            <br><br>
        </div>
            <p>
                We exist to provide a food sharing service to connect and build up our local community. Through our platform,
                we make trading and sharing our own healthy and organicly grown foods accessible to our towns. Join our community
                and make your mark on Grant County.
            </p>
        <div>
            <br>
            <h3> FAQs</h3>
                <p>
                    Question: How can I start selling my produce?
                    <br>
                    Answer: Join Gardener's Exchange today by making an account with us.

                </p>
            <br>
             <h3>Contact Us</h3>
                <p> Email us with your question at Gardenersexchange@example.com </p>
        </div>
        </body>

    </div>
{% endblock %}