{% extends 'base.html' %}
{% from 'macros.html' import render_listing, init_map_script %}

{% block title %}Gardener's Exchange{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <h1>Listing Feed</h1>
</div>

<div class="row" style="padding-top: 3%">
    {%- for row in feedItems|batch(4) %}
    {%- for listing in row %}
    {{ render_listing(listing, current_user, is_feed=True, form=form) }}
    {%- endfor %}
    {% else%}
    <div> No feed </div>
    {%- endfor %}
</div>
{{ init_map_script(feedItems) }}
{% endblock %}
